<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/add-book" method="post">
        <div class="input-group mb-3">
            <span class="input-group-text" id="title">Book Title</span>
            <input type="text" class="form-control" placeholder="Book Title" aria-label="Book Title" aria-describedby="title" name="title">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="pages">Number of pages</span>
            <input type="number" class="form-control" placeholder="Number of pages" aria-label="Number of pages" aria-describedby="pages" name="pages">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="publisher">Publisher name</span>
            <input type="text" class="form-control" placeholder="Publisher name" aria-label="Publisher name" aria-describedby="publisher" name="publisher">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="authorIds">Authors</span>
            <select name="authorIds" class="form-control multi-select" multiple>
                <option th:each="author : ${authors}" th:value="${author.id}"
                        th:text="${author.name}"
                ></option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>